html{
  font-size: 625%;
}
body{
  font-size: 0.14rem;
  font-weight: 300;
  font-family: "msyh","Microsoft YaHei","微软雅黑";
  /* background: #f1f1f1; */
  background: #fff;
  color: #000;
  padding: 0;
  margin: 0;
}
div, section, p, header, footer, nav, ul, li, dl, dt, dd, h1,h2,h3,h4,h5{
  padding:0;
  margin:0;
}
div{
  box-sizing: border-box;
}
.icon {
  width: 1em;
  height: 1em;
  /* vertical-align: -0.15em; */
  fill: currentColor;
  overflow: hidden;
  /* font-size: 0.16rem; */
}
.icon-whirl{
  transition: transform ease-out 0.3s;
  -webkit-transition: transform ease-out 0.3s;
  -moz-transition: transform ease-out 0.3s;
  transform: rotate(0);
}
.icon-whirl:focus, .icon-whirl:hover{
  transform: rotate(360deg);
}

/**************************************************
 网站导航栏 
 */
.fcc-header{
  position: fixed;
  width: 100%;
  height: 0.64rem;
  border-bottom: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  z-index: 1001;
}
.fcc-header nav{
  width: 100%;
  height: 100%;
  display: table;
}
.sites-logo{
  display: table-cell;
  vertical-align: middle;
  width: 1%;
  white-space: nowrap;
  padding: 0 0.1rem;
}
.site-title a{
  color: rgba(0,0,0,.6);
  text-decoration: none;
  font-size: 0.18rem;
  font-weight: 700;
}
.site-title a:hover, .site-title a:focus{
  color: #3690cf;
  text-decoration: none;
}
.site-menu{
  display: flex;
  height: 100%;
  width: 100%;
}
.site-menu ul{
  margin-left: auto;
  margin-right: 0;
}
.site-menu ul:first-child{
  display: none;
}
.site-menu ul:last-child{
  display: block;
}
.fcc-menuitem, .fcc-mobile-menuitem{
  position: relative;
  list-style-type: none;
  display: inline-block;
  line-height: 0.64rem;
  padding: 0 0.1rem;
  cursor: pointer;
}
.fcc-menuitem:focus, .fcc-menuitem:hover{
  background: #3690cf;
  color: #ffffff;
}
.fcc-menuitem:focus .fcc-dp-menuitem, .fcc-menuitem:hover .fcc-dp-menuitem{
  display: block;
}
.fcc-mobile-menuitem:focus, .fcc-mobile-menuitem:hover{
  color: #3690cf;
}
.fcc-dp-menuitem{
  display: none;
  position: absolute;
  left: 0;
  min-width: 1.6rem;
  background: #fff;
  color: #000;
  box-shadow: 0 2px 2px rgba(0,0,0,.03);
  /* z-index: 10001; */
}
.fcc-dp-menuitem {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  /* -webkit-animation-fill-mode: both;
  animation-fill-mode: both; */
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes avatar{
  16.65%{
    -webkit-transform:translateY(8px);
    transform:translateY(8px)
  }
  33.3%{
    -webkit-transform:translateY(-6px);
    transform:translateY(-6px)
  }
  49.95%{
    -webkit-transform:translateY(4px);
    transform:translateY(4px)
  }
  66.6%{
    -webkit-transform:translateY(-2px);
    transform:translateY(-2px)
  }
  83.25%{
    -webkit-transform:translateY(1px);
    transform:translateY(1px)
  }
  100%{
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }
}
@keyframes avatar{
  16.65%{
    -webkit-transform:translateY(8px);
    transform:translateY(8px)
  }
  33.3%{
    -webkit-transform:translateY(-6px);
    transform:translateY(-6px)
  }
  49.95%{
    -webkit-transform:translateY(4px);
    transform:translateY(4px)
  }
  66.6%{
    -webkit-transform:translateY(-2px);
    transform:translateY(-2px)
  }
  83.25%{
    -webkit-transform:translateY(1px);
    transform:translateY(1px)
  }
  100%{
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
  60% {
    /* opacity: 1; */
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fcc-dp-menuitem dd{
  line-height: 0.45rem;
  padding: 0 0.2rem;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: rgba(255,255,255,0.9);
  white-space: nowrap;
}
.fcc-dp-menuitem dd:first-child{
  border-top: none;
}

/**************************************************
 网站内容页
*/
.fcc-content{
  padding-top: 0.64rem;
}
/* .fcc-main{} */
/* .fcc-side{} */
.bg-white{
  background: #fff;
}
.fcc-announcement{
  margin-top: 5px;
  margin-bottom: -5px;
  padding: 0 0.1rem;
}
.fcc-announcement .icon{
  font-size: 0.16rem;
  vertical-align: -0.16em;
}

/**************************************************
 主页slider样式 
 */
.fcc-slider{
  height: 1.8rem;
  width: 100%;
}
.slider-container{
  position: relative;
  height: 100%;
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}
.slider-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  transition-timing-function: ease;
  transition-duration: 300ms;
}
.slider-item{
  width: 100%;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
}
.slider-pagination{
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  width: 100%;
  text-align: center;
}
.slider-bullet{
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 0 4px;
  background-color: #fff;
  border-radius: 50%;
}
/**************************************************
 end-主页slider样式 
 */

/**************************************************
 主页文章card样式
 */
.fcc-article{
  position: relative;
  margin: 0 0 0.1rem 0;
  padding: 0.1rem;
  overflow: hidden;
}
.fcc-article+.fcc-article{
  border-top: 1px solid #ddd;
}
.fcc-article:focus .alt-more a, .fcc-article:hover .alt-more a {
  right: 0;
  opacity: 0.7;
}
.fcc-article a{
  color: #000;
  text-decoration: none;
}
.atl-thumbnail {
  position: relative;
  /* float: left; */
  max-width: 2rem;
  height: auto;
  margin: 0;
  overflow: hidden;
}
.atl-thumbnail .category{
  display: inline-block;
  background: #3690cf;
  /* border-top-left-radius: 5px; */
}
.atl-thumbnail .category a {
  color: #fff;
  line-height: 0.22rem;
  padding: 0 0.1rem;
}
.atl-header::after{
  content: ".";
  display: table;
  font-size: 0;
  visibility: hidden;
  clear: both;
}
.atl-header h2 a {
  font-size: 0.16rem;
  font-weight: 700;
}
.atl-description{
  margin-bottom: 0.2rem;
}
.atl-meta{
  font-size: 0.12rem;
}
.atl-meta-cate{
  display: inline-block;
  padding: 1px 0.1rem;
  margin-bottom: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
}
.atl-meta-cate:hover{
  background-color: #3690cf;
  border-color: transparent;
}
.atl-meta-cate:hover a{
  color: #fff;
}
.atl-meta-group .date{
  color: #adadad;
}
.alt-more a{
  display: block;
  position: absolute;
  right: -0.82rem;
  bottom: 0.1rem;
  padding: 0 0.12rem;
  border-radius: 0.15rem 0 0 0.15rem;
  line-height: 0.28rem;
  color: #fff;
  background: #028ad8;
  opacity: 0;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}


/**************************************************
网站响应式布局
***************************************************/
.content{
  height: 100%;
  margin: 0 auto;
}
/* .fcc-row{} */
.fcc-sm-1, .fcc-sm-2, .fcc-sm-3, .fcc-sm-4, .fcc-sm-5, .fcc-sm-6, .fcc-sm-7, 
.fcc-sm-8, .fcc-sm-9, .fcc-sm-10, .fcc-sm-11, .fcc-sm-12, .fcc-sm, .fcc-sm-auto, 
.fcc-md-1, .fcc-md-2, .fcc-md-3, .fcc-md-4, .fcc-md-5, .fcc-md-6, .fcc-md-7, 
.fcc-md-8, .fcc-md-9, .fcc-md-10, .fcc-md-11, .fcc-md-12, .fcc-md, .fcc-md-auto {
  position: relative;
  margin-top: 0.1rem;
  /* margin-left: 0.1rem; */
  /* margin-right: 0.1rem; */
}
@media (min-width: 576px) {
  /* .content {
    max-width: 5.6rem;
  } */
  .fcc-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fcc-md-8{
    width: 66.666667%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  .fcc-md-4{
    width: 33.333333%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}
@media (min-width: 768px) {
  .content {
    max-width: 7.2rem;
  }
  .site-menu ul:first-child{
    display: block;
  }
  .site-menu ul:last-child{
    display: none;
  }
  .fcc-slider{
    height: 2.4rem;
  }
}
@media (min-width: 992px) {
  .content {
    max-width: 9.6rem;
  }
}
@media (min-width: 1200px) {
  .content{
    max-width: 11.2rem;
  }
}